.events-ctn {
  /* border: 1px solid rgb(197, 196, 196); */
  width: 700px;
  /* background: radial-gradient(#a39d90, #973f3f); */
  border: 5px solid;
  background: rgb(0, 0, 0, 0.4);
  border-image-source: linear-gradient(45deg, #ccb585, #b93636);
  border-image-slice: 1;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 3px 3px 10px, 10px black;
}

th,
td {
  text-align: center;
  /* border: 1px solid #c5c4c4; */
  border-radius: 20px;
  width: 150px;
}

table {
  border-radius: 20px;
}

th {
  border-bottom: 1px solid #c5c4c4;
  border-right: 1px solid #c5c4c4;
  height: 40px;
}
th:last-child {
  border-right: 0px;
}
td {
  border-right: 1px solid #c5c4c4;
  height: 120px;
}
td:last-child {
  border-right: 0px;
}
