<div class="contact-ctn">
    <div class="row">
        <div class="col-10">
            <div class="about">
                <h3>Public Library of Mandalore</h3>
                <div class="marb"><h5>Location</h5> 
                   2739 N Main St 
                   Mandalore, 60614 
                </div>
                <div class="mt-2 marb"><h5>Hours of Operation</h5>
                    Mon-Fri: 8am - 9pm
                    Sat-Sun: 9am - 7pm
                </div>
                <div class="mt-2 marb"><h5>Phone</h5> 
                +32 (4853) 4856-39025</div>
            </div>
        </div>
        <div class="col-2">
            <img src="../../assets/public-library-mandalore.png" class="map" alt="">
        </div>
    </div>
</div>