
<div id="profile" class="container center">
    <div class="left">
        <a routerLink="/edit-profile">
            <i class="fas fa-cog"></i>
        </a>
        <section class="fname"><span>First Name:</span> {{fname}}</section>
        <section class="lname"><span>Last Name:</span> {{lname}}</section>
        <section class="username"><span>Username:</span> {{username}}</section>
        <section class="email"><span>Email:</span>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{email}}</section>
        <section class="sectionhone"><span>Phone:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{phone}}</section>
        <section class="member-since"><span>Member Since:</span> {{memSince}}</section>

    </div>

</div>