<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<div class="container welcome">Welcome to the Public Library of Mandalore </div>

<app-books></app-books>
<div class="container">
    <div class="row top">
        <div class="col-4 staff">
            <app-staff-faves></app-staff-faves>
        </div>
        <div class="row col-7">
            <div class="events">
                <app-events></app-events>
            </div>
        <div class="row col-8">
            <div class="contact">
                <app-contact></app-contact>
            </div>
        </div>    

        </div>
    </div>
</div>
